<!DOCTYPE html>
<html ng-app="raysapp">
<link rel="stylesheet" href="base.css"/>
<head lang="en">
    <meta charset="UTF-8">
    <script src="bower_components/angularjs/angular.js"></script>
    <script>
        var raysapp = angular.module('raysapp', []);
        raysapp
        .controller('RaysController', function ($scope, $http, $interval) {
            $scope.name = 'Ray Hengst';
            $http.get('http://uitr.herokuapp.com/countries').success(function (data) {
                $scope.hashmap = {};
                data.forEach(function (country) {
                    $scope.hashmap[country.alpha3Code] = country.name;
                });
                console.log($scope.hashmap);
                $scope.data = data;
                // console.log(data);
            });
        })
        .filter('reverse', function () {
            return function (inp) {
                return inp.split('').reverse().join('');
            };
        })
        .filter('country', function () {
            return function (inp, scope) {
                return scope.hashmap[inp];
            };
        });
    </script>
    <title>Countries</title>
</head>
<body ng-controller="RaysController">
<input type="text" ng-model="search"/>
    <ul>
        <li ng-repeat="country in data | orderBy:'population' | filter:search ">
            {{ country.name }} has a population of {{ country.population }}
            <div ng-show="country.borders.length">
                Neighbors here:
                <ul>
                    <li ng-repeat="neighbor in country.borders">
                        {{ neighbor | country:this }}
                    </li>
                </ul>
            </div>
            <!--<div>{{ country }}</div>-->
        </li>
    </ul>
</body>
</html>